# Dependencies
node_modules

# Build output
dist

# Git
.git
.gitignore

# IDE
.idea
.vscode
*.swp
*.swo

# Environment files
.env
.env.*
!.env.example

# Logs
logs
*.log

# Test coverage
coverage

# Misc
.DS_Store
Thumbs.db
*.tsbuildinfo
.eslintcache

# Docker
docker-compose*.yml
Dockerfile
.dockerignore

# Documentation
README.md
CHANGELOG.md

